body {
  background-image: url(https://images.pexels.com/photos/1465904/pexels-photo-1465904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 900px;
  padding-top: none;
}
h1 {
  color: rgb(9, 9, 46);
  font-family: "Poppins", sans-serif;
  margin-bottom: auto;
  margin-top: auto;
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
  color: rgba(9, 9, 46);
  margin-top: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.container {
  max-width: 800px;
}
.conditions {
  position: relative;
  left: 450px;

  display: block;
  top: -100px;
  margin-left: -130px;
}
.weather-app {
  border: 1px solid rgb(9, 9, 46);
  border-radius: 10px;

  padding: 10px;
  margin: 30px;
  max-width: 800px;
}
.container-grid {
  text-align: center;
  display: grid;
  padding: 0 auto;
  margin-bottom: 30px;
  grid-template-columns: 120px 150px 150px 150px 130px;
  margin-top: 80px;
}

.weather-temperature img {
  margin-right: 10px;
}
.weather-temperature strong {
  color: blue;
  font-weight: 400;
}
.btn btn-warning {
  margin-right: -500px;
  text-align: right;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin-top: 200px;
}
.units {
  position: relative;
  top: -34px;
}
.btn-warning {
  background-color: rgb(111, 220, 220);
  border-color: rgb(9, 9, 46);
  margin-left: 200px;
}
.row {
  margin: 10px;
  padding: 100px auto;
}
.btn-success {
  background-color: rgb(68, 68, 220);
  margin-left: 250px;
}
.search-form {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 300px;
}
.weather-forecast {
  margin-top: 100px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
li::first-letter {
  text-transform: capitalize;
}
