body {
  background-image: url(https://images.pexels.com/photos/1465904/pexels-photo-1465904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 800px;
}
h1 {
  color: rgb(9, 9, 46);
  font-family: "Poppins", sans-serif;
  margin-bottom: auto;
  margin-top: auto;
}

hr {
  color: rgb(9, 9, 46);
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
  color: rgba(9, 9, 46);
  margin-top: none;
  padding-left: 0;
}

.container {
  max-width: 800px;
}
.conditions {
  position: relative;
  left: 300px;

  display: block;
  top: -70px;
  margin-left: -130px;
}
.weather-app {
  border: 1px solid rgb(9, 9, 46);
  border-radius: 10px;

  padding: 10px;
  margin: 30px;
  max-width: 800px;
}
.container-grid {
  text-align: center;
  display: grid;
  padding: 0 auto;
  margin: 0 auto;
  grid-template-columns: 120px 150px 150px 150px 130px;
}

.weather-temperature img {
  margin-right: 10px;
}
.weather-temperature strong {
  color: blue;
  font-weight: 400;
}
.btn btn-warning {
  margin-right: -500px;
  text-align: right;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
