h1 {
  color: rgb(66, 209, 161);
  font-family: "Poppins", sans-serif;
  margin-bottom: auto;
  margin-top: auto;
}

hr {
  color: rgb(14, 103, 73);
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
  color: rgba(18, 189, 43, 0.989);
  margin-top: none;
  padding-left: 0;
}

.container {
  max-width: 800px;
}
.conditions {
  position: relative;
  left: 300px;

  display: block;
  top: -70px;
  margin-left: -130px;
}
.weather-app {
  border: 1px solid rgb(79, 146, 183);
  border-radius: 10px;

  padding: 10px;
  margin: 30px;
}
.container-grid {
  text-align: center;
  display: grid;
  padding: 0 auto;
  margin: 0 auto;
  grid-template-columns: 120px 150px 150px 150px 130px;
}

.weather-temperature img {
  margin-right: 10px;
}
.weather-temperature strong {
  color: blue;
  font-weight: 400;
}
